<h2>All sessions</h2>
<div class="container">
<%if @sessions.nil? == false %>
   <% @sessions.each do |session| %>
   <div class="row row-bordered">
      <div class="col-xs-3 text-left">
         <label>For Dataset: </label> <%=session.dataSetName%>
      </div>
      <div class="col-xs-4">
         <span>
         <label>Run On: </label> <%= DateTime.parse(session.statusHistory.select {|v| v.has_value? "requested"}[0]["date"]).strftime('%A, %B %d %Y %r') %>
         </span>
      </div>
      <span><a href="/account/session/<%=URI::encode(session.sessionId)%>">See Status</a></span>
      <%if session.statusHistory.select {|v| v.has_value? "completed"}[0].nil? == false %> | 
      <span><a href="/results/<%=URI::encode(session.sessionId)%>">See Results</a></span>
      <%end%>
   </div>
   <% end %>
   <%else%>
    <div class="alert alert-warning">
        No sesssions could be located.
    </div>
   <%end%>
</div>